PORT=8090

#LAIS_BOT_AUTHORIZATION

# Usado para autenticar no sistema de segurança. É fixo
LAIS_CORE_APP_NAME="LAISBOT"

# Usado para referenciar o bot atual. É o mesmo que é usado como botId abaixo.
LAIS_CORE_BOT_NAME="LAISBOTTESTE"
LAIS_CORE_AUTHORIZATION="89425943957348925723"
LAIS_CORE_CONNECTOR_ID=LASA_LAIS_APOIO_LOJA
LAIS_CORE_FALA_API_URL=http://lasa-lais-dev-coreapp.us-west-2.elasticbeanstalk.com/api/fala
LAIS_CORE_SAVE_CONVERSATION_URL=http://lasa-lais-dev-coreapp.us-west-2.elasticbeanstalk.com/api/conversas

LAIS_ADM_TOKEN=58228383-66eb-4281-ab5c-5335367299e1
LAIS_ADM_GET_DIALOGS_URL=http://lasa-lais-dev-admin.us-west-2.elasticbeanstalk.com/api/dialog
LAIS_ADM_GET_RULES_URL=http://lasa-lais-dev-admin.us-west-2.elasticbeanstalk.com/api/rule
LAIS_ADM_GET_MUTE_LIST_URL=http://lasa-lais-dev-admin.us-west-2.elasticbeanstalk.com/api/mute
LAIS_ADM_DATA_UPDATER_INTERVAL=300000

ELASA_USER_API_URL='http://hmlelasa.lasa.lojasamericanas.com.br/v1/user/byUsername/'
ELASA_ITEM_API_URL='http://hmlpromocao.lasa.lojasamericanas.com.br/v1/item'